/vendor
/var
/pub
/.directory
/CHANGELOG.md
/COPYING.txt
/LICENSE.txt
/LICENSE_AFL.txt
/SECURITY.md
/auth.json.sample
/bin
/dev
/generated
/index.php
/lib
/pub
/setup
/phpserver
node_modules
env.php
.idea
.php_cs.cache
Magento_Theme
