:root {
    --slicer-handle-color: rgba(0, 0, 0, .5);
}

.CandleSlicer {
    margin: 0 auto;
    max-width: 500px;
    overflow: hidden;

    &-SecondaryImage,
    &-MainImage {
        width: 100%;
        display: block;
    }

    &-Secondary {
        --image-mask-width: 50%;

        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: var(--image-mask-width);
    }

    &-SecondaryImage {
        --secondary-image-width: 100%;

        height: 100%;
        width: var(--secondary-image-width);
    }

    &-Handle {
        --handle-position: 50%;

        background-color: var(--slicer-handle-color);
        bottom: 0;
        cursor: ew-resize;
        left: var(--handle-position);
        position: absolute;
        top: 0;
        width: 5px;
    }
}
