$white: #fff;
$black: #0a0a0a;
$gold: #bd9a2b;
$default-primary-base-color: #f26323;
$default-primary-dark-color: #d1490c;
$default-primary-light-color: #f69e77;
$default-secondary-base-color: #eee;
$default-secondary-dark-color: #929292;
$default-secondary-light-color: #f8f8f8;
$font-muli: 'Muli', sans-serif;
$font-standard-size: 12px;
$font-mobile-size: 14px;
$logos-path: '../../public/assets/images/global/';